@import "vars";

body {
  font-family: $font-family;
  background: url(../images/pattern-background-desktop.svg) top center no-repeat ;
  background-size: 100%;
  background-color: $color-primary-light;
}

.max-width-wrapper {
  max-width: 450px;
  min-width: 327px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
}

.container {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding-left: 48px;
  padding-right: 48px;
  overflow: hidden;
  height: 697px;

  .stretcher {
    margin-left: -48px;
    margin-right: -48px;
  }

  img {
    display: block;
    width: 100%;
  }
}

footer {
  font-size: 11px;
  text-align: center;
  
  & a {
    color: hsl(228, 45%, 44%);
  }
}